*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
section{
    display: flex;
    justify-content: center;
    gap: 20px;
    font-family: cursive;
    margin-top: 50px;
}
summary{
    color: white;
    background-color: green;
    padding: 5px;
    font-size: 18px;
}
details{
 
}
#div{
    color: white;
    padding: 10px;
    border: green solid 1px;
    box-shadow: 0 0 6px 3px green;
}
.buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
button{
    padding: 10px 15px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border: 0;
    font-family: cursive;
}
#add{
    background-color: darkorange;
    box-shadow: 0 0 6px 3px darkorange;
}
#change{
    background-color: darkcyan;
    box-shadow: 0 0 6px 3px darkcyan;
}
#delete{
    background-color: darkred;
    box-shadow: 0 0 6px 3px darkred;
}
